XTerm*renderFont: true
XTerm*faceName: SauceCodePro\ Nerd\ Font\ Mono
XTerm*faceSize: 16
XTerm*Background: black
XTerm*Foreground: gray
XTerm*allowBoldFonts: false
XTerm.vt100.reverseVideo: false
XTerm.vt100.bellIsUrgent: false

XTerm.vt100.metaSendsEscape: true
XTerm*geometry:	90x30
XTerm*dynamicColors: true
XTerm*utf8:	2
XTerm*eightBitInput:	true
XTerm*saveLines:	100000
XTerm*scrollKey:	true
XTerm*scrollTtyOutput:	false
XTerm*scrollBar:	false
XTerm*termName:		xterm-256color
XTerm*selectToClipboard:	true
XTerm*VT100.Translations: #override \
	Ctrl Shift <Key>V:    insert-selection(SELECT) \n\
	Ctrl Shift <Key>C:    copy-selection(SELECT)
