XTerm*renderFont: true
!XTerm*faceName: IosevkaTerm\ Nerd\ Font\ Mono
!XTerm*faceSize: 13
XTerm*font: -misc-fixed-bold-r-normal--15-140-75-75-c-90-iso8859-15
XTerm*Background: black
XTerm*Foreground: white
Xft.dpi: 90
XTerm*allowBoldFonts: false
XTerm.vt100.reverseVideo: false
XTerm.vt100.bellIsUrgent: false

XTerm.vt100.metaSendsEscape: true
XTerm*geometry:	115x60+390+65
XTerm*dynamicColors: true
XTerm*utf8:	2
XTerm*eightBitInput:	true
XTerm*saveLines:	100000
XTerm*scrollKey:	true
XTerm*scrollTtyOutput:	false
XTerm*scrollBar:	false
XTerm*termName:		xterm-256color
XTerm*selectToClipboard:	true
XTerm*VT100.Translations: #override \
	Ctrl Shift <Key>V:    insert-selection(SELECT) \n\
	Ctrl Shift <Key>C:    copy-selection(SELECT)
