[mysqld]
bind-address = 0.0.0.0
port = 3306

character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci
basedir = /lib/mysql/mysql-8.3.0-linux-glibc2.28-x86_64
datadir = /usr/local/mysql-data/mysql-8.x/data
socket = /usr/local/mysql-data/mysql-8.x/data/mysql.sock
mysqlx_socket = /usr/local/mysql-data/mysql-8.x/data/mysqlx.sock
pid_file =  /usr/local/mysql-data/mysql-8.x/data/mysql.pid
lc_messages_dir = /lib/mysql/mysql-8.3.0-linux-glibc2.28-x86_64/share
lc_messages = en_US
log-error = /usr/local/mysql-data/mysql-8.x/logs/mysql.log
slow_query_log = 1
long_query_time = 1
slow_query_log_file= /usr/local/mysql-data/mysql-8.x/logs/mysql_slow.log
log_bin = mysql-bin
server_id = 1
innodb_default_row_format = dynamic


ssl_ca = ca.pem
ssl_cert = server-cert.pem
ssl_key = server-key.pem
require_secure_transport = 1


[mysql]
character-set-client = utf8mb4
socket = /usr/local/mysql-data/mysql-8.x/data/mysql.sock
ssl_mode = verify_ca
ssl_ca = ca.pem
ssl_cert = client-cert.pem
ssl_key = client-key.pem
