[mysqld]
bind-address = 0.0.0.0
port = 3306

character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci

basedir = /lib/mysql/mysql-8.0.36-linux-glibc2.28-x86_64
datadir = /usr/local/mysql-data/mysql-8.x/data
socket = /usr/local/mysql-data/mysql-8.x/data/mysql.sock
mysqlx_socket = /usr/local/mysql-data/mysql-8.x/data/mysqlx.sock
pid_file =  /usr/local/mysql-data/mysql-8.x/data/mysql.pid
lc_messages_dir = /lib/mysql/mysql-8.0.36-linux-glibc2.28-x86_64/share
lc_messages = en_US
general_log = 1
general_log_file = /usr/local/mysql-data/mysql-8.x/logs/general.log
log-error = /usr/local/mysql-data/mysql-8.x/logs/mysql.log
slow_query_log = 1
long_query_time = 0.05
slow_query_log_file = /usr/local/mysql-data/mysql-8.x/logs/mysql_slow.log
transaction_isolation = READ-COMMITTED

# required by clockhouse's MaterializedMySQL engine.
default_authentication_plugin = mysql_native_password
log_bin_use_v1_row_events = OFF

# binlog configuration.
log_bin = mysql-bin
server_id = 119
sync_binlog = 1
innodb_flush_log_at_trx_commit = 1
gtid_mode = ON
enforce_gtid_consistency = ON
log_replica_updates = ON
relay_log = mysql-relay-bin
sql_mode = ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

# group replication configuration
#plugin_load_add='group_replication.so'
#group_replication_group_name = "ef983438-e655-11ee-8469-000c29f2e859"
#group_replication_start_on_boot = OFF
#group_replication_local_address = "debian:33061"
#group_replication_group_seeds = "debian:33061,debian2:33061,debian3:33061"
#group_replication_recovery_get_public_key = ON
#group_replication_bootstrap_group = OFF

[mysql]
default-character-set = utf8mb4
#character_set_client = utf8mb4
socket = /usr/local/mysql-data/mysql-8.x/data/mysql.sock
no-auto-rehash